<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,8.5}</string>
			<key>spriteSize</key>
			<string>{160,77}</string>
			<key>spriteSourceSize</key>
			<string>{160,77}</string>
			<key>textureRect</key>
			<string>{{0,0},{160,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_20_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,11.5}</string>
			<key>spriteSize</key>
			<string>{158,67}</string>
			<key>spriteSourceSize</key>
			<string>{158,67}</string>
			<key>textureRect</key>
			<string>{{161,0},{158,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_20_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,52.0}</string>
			<key>spriteSize</key>
			<string>{106,90}</string>
			<key>spriteSourceSize</key>
			<string>{106,90}</string>
			<key>textureRect</key>
			<string>{{320,0},{106,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_20_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{427,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_20_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{429,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_20-uhd.png</string>
		<key>size</key>
		<string>{431,90}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_20-uhd.png</string>
	</dict>
</dict>
</plist>
